@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700;900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.left-img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 100%;
}

form {
  display: flex;
  flex-direction: column;
}

.content .input-field {
  background-color: var(--gray-color);
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 10px 5px;
  border-radius: 5px;
}

.manage {
  margin-bottom: 30px;
}

#input-box {
  margin-bottom: 20px;
}

.content .input-field input {
  font-size: 18px;
  outline: none;
  border: none;
  background: transparent;
}

#forgotLink {
  text-align: right;
  text-decoration: none;
  margin: 10px 0px;
  color: var(--button-color);
}

#forgotLink:hover {
  text-decoration: underline;
}

.input-field i {
  background-color: var(--white-color);
  padding: 8px;
  border-radius: 5px;
  color: var(--button-color);
}

#loginButton {
  background-color: var(--button-color);
  color: var(--white-color);
  border: none;
  outline: none;
  padding: 15px 50px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 600;
}

:root {
  --gray-color: #cfd4d8;
  --white-color: #fff;
  --button-color: #157aff;
}

.buttons-div {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 20px;
}

.buttons-div button {
  display: flex;
  align-items: center;
  padding: 10px 30px;
  gap: 5px;
  border: 2px solid #eee;
  border-radius: 8px;
  background: transparent;
  transition: all 500ms ease-in-out;
}

.buttons-div button:hover {
  background-color: #eee;
  cursor: pointer;
}

.buttons-div button img {
  height: 20px;
}

#lastParagraph {
  text-align: center;
  margin-top: 20px;
}

#lastParagraph a {
  text-decoration: none;
  color: var(--button-color);
}

#lastParagraph a:hover {
  text-decoration: underline;
}

hr {
  margin-top: 25px;
  height: 5px;
  background-color: #909090;
  border: 0;
  border-radius: 5px;
}
